[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
selenium = "*"
django-environ = "*"
gunicorn = "*"
"fabric3" = "*"
psycopg2-binary = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
